<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>com.debugerman.sms.demo.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<display-name>UploadServlet</display-name>
  	<description></description>
  	<servlet-class>com.debugerman.sms.demo.UploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadExcel</servlet-name>
  	<display-name>ReadExcel</display-name>
  	<description></description>
  	<servlet-class>com.debugerman.sms.demo.ReadExcel</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadExcel</servlet-name>
  	<url-pattern>/ReadExcel</url-pattern>
  </servlet-mapping>
</web-app>
